# EditorConfig for coal-runtime
# https://editorconfig.org

root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# C source and header files
[*.{c,h}]
indent_style = space
indent_size = 4
max_line_length = 80

# Makefiles require tabs
[Makefile]
indent_style = tab

# CMake files
[CMakeLists.txt]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
